.navbar {
    padding-top: 50px;
    font-size: 30px;
    background: blue;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }
  